# __Romagna Coastline's Beach Reservations__

### The database is composed by 7 tables:
1. Customer 
2. Booking
3. PartOf
4. Beach
5. Boat 
6. Restaurant 
7. SpecialOffer

### With the following schema:

<img src="Schema.png"/>

#### The goal for this project is to answer 3 business goals:
1) Increase Customer Engagement and Satisfaction
2) Enhance Customer Retention Through Personalized Beach Experiences
3) Enhance Booking Revenue and Offer Customization

***

## Business Goal 1: Increase Customer Engagement and Satisfaction

#### Let's start by identifying top 5 rated beaches:

In [ ]:
SELECT name, rating
FROM beaches.beach
ORDER BY rating DESC
LIMIT 5;

| name              | rating |
| -------           | ------- |
| Sabbia Tranquilla | 4.98   |
| Baia Verde        | 4.98   |
| Brezza Gialla     | 4.98   |
| Bellezza Gialla   | 4.94   |
| Marina Verde      | 4.94   |

#### Now let's find out which customers frequently rent boats:

In [ ]:
SELECT customerID, COUNT(*) as BoatRentals
FROM beaches.partof p
JOIN beaches.booking b
ON p.bookingID = b.id
WHERE boat IS NOT NULL
GROUP BY customerID
ORDER BY BoatRentals DESC
LIMIT 10;

| customerID | BoatRentals |
| ---------- | ----------- |
|MNDGMR88C65D542Z|	6|
|CHRPRZ01H02G942Y|	6|
|FRRMRN01L55F205O|	6|
|FRRCLD74D21A952E|	5|
|TRVLFA94T44A783T|	5|
|BGGLND56L55E715B|	5|
|CHRMGH77T21I480Q|	5|
|PCCSLL02B65L781X|	5|
|GCCMRA85H70A952S|	5|
|DPRNNN99P01D122P|	5|

#### We are able now to make promotions for the company's top-rated rated beaches to attract customers and increase engagement and satisfaction.
#### At the same time we have which are our top-frequent customers thus we can make special promotions to them increasing satisfaction and loyalty.

### __Now we create a view out of our repetead customers so we can use it in future analysis:__

In [ ]:
CREATE VIEW repetedcustomers AS
SELECT p.customerID AS customerID, COUNT(*) AS BoatRentals
FROM partof p
JOIN booking b 
ON p.bookingID = b.id
WHERE b.boat IS NOT NULL
GROUP BY p.customerID
ORDER BY BoatRentals DESC

***

## Business Goal 2:  Enhance Customer Retention Through Personalized Beach Experiences

#### To start, we are going to search for boats with highest rentals by the top-frequent customers, in this case customers that have rented boats more than 4 times.

In [ ]:
SELECT boat, COUNT(*) as RentalsPerBoat
FROM booking b
JOIN partof p
ON b.id = p.bookingID
JOIN repetedcustomers r
ON r.customerID = p.customerID
WHERE r.customerID IN (SELECT customerID FROM repetedcustomers WHERE BoatRentals > 4
 AND boat IS NOT NULL)
GROUP BY boat
ORDER BY RentalsPerBoat DESC
LIMIT 10;


|boat	| RentalsPerBoat|
| ------ | ------------ |
Fiotto 8	|5|
Poseidone 17	|5|
Flutto 7	|4|
Nettuno 7	|4|
Flutto 3	|4|
Nettuno 13	|4|
Calipso 9	|3|
Flutto 11	|3|
Nettuno 18	|3|
Cavallone 7	|3|

#### Now let's find the top 15 rentals per boat for all the bookings:

In [ ]:
SELECT boat, count(*) as rents
FROM beaches.booking
WHERE boat IS NOT NULL
GROUP BY boat
ORDER BY rents DESC
LIMIT 15;


|boat	|rents|
| ----- | ----|
Onda 15	|16|
Onda 13	|15|
Onda 8	|14|
Onda 4	|14|
Onda 6	|14|
Flutto 3	|14|
Nettuno 13	|12|
Poseidone 6	|12|
Poseidone 10	|12|
Onda 14	|12|
Nettuno 8	|12|
Nettuno 5	|12|
Poseidone 13	|12|
Poseidone 1	|12|
Cavallone 14	|12|

#### We can see that, with the exception of Flutto 3 and Nettuno 13, we don't see much rentals for the favorite boats of out top-customers. 
#### Thanks to this analysis, we can create special and personalized offers to out top rated customers based on low rented boats that they tend to rent. Thus retaining their loyalty and profiting from low rented boats.

***

## Business Goal 3: Enhance Booking Revenue and Offer Customization

#### First we are going to analyze price trends for bookings with and without boats:

In [ ]:
SELECT AVG(price) AS AveragePriceWithBoat, (SELECT AVG(price) FROM booking WHERE boat IS NULL) AS AveragePriceWithoutBoat
FROM booking
WHERE boat IS NOT NULL;

|AveragePriceWithBoat|AveragePriceWithoutBoat|
|--------------------|-----------------------|
|647.3884156729131| 646.9672606713634 |

#### Now let's find the most popular special offers for marketing focus:

In [ ]:
SELECT beach.name, COUNT(specialoffer.PromoCode) AS NumberOfSpecialOffersUsed
FROM specialoffer
JOIN beach ON specialoffer.beach = beach.Name
GROUP BY beach.name
ORDER BY NumberOfSpecialOffersUsed DESC
LIMIT 10;


|name	| NumberOfSpecialOffersUsed|
|-------|----------------|
|Brezza Grigia	| 60 |
|Brezza Incantevole	| 54 |
|Brezza Verde	| 53 |
|Alba Grigia	| 47|
|Brezza Bella	| 41|
|Brezza Rossa	| 41|
|Conchiglia Rilassante	| 41|
|Sabbia Bella	| 40|
|Conchiglia Incantevole	| 39|
|Paletta Meravigliosa	| 38|

#### We now have the top 10 beaches that had more special offer bookings. This helps us to understand which offers are more popular and now we can focus on marketing efforts that work best so we can increase bookings and revenue.

#### We see that the addition of the boat to the booking does no affect the overall price. We can suggest that the addition of a boat to package deals, could improve the satisfaction of the clients by them perciving the package as a more high-value one without having the burden of paying a higher price for it.